<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
	<div class="cover">

		<div th:replace="header :: navbar"></div>

		<div class="text">
			<h1>WELCOME TO MEDHELP</h1>
			<p>One stop shop to meet all your medical needs.</p>
			<br> <br> <br> <br> <a href="doctor.html">
				Take Appointment with Doctor<br> <br>
			</a> <a href="ambulance.html"> Hire an Ambulance<br> <br>
			</a> <a href="/buyMedicine">Buy Medicine<br> <br>
			</a> <a href="test.html"> Do Medical tests<br> <br>
			</a>
		</div>
	</div>

</body>
</html>